
.navbar{
    width:100%;
    position:fixed;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    color:#00ffff;
    font-size:28px;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:25px;
    transition:0.3s;
}

nav a:hover{
    color:#00ffff;
}
